<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des demandes</title>
    <link rel="stylesheet" href="/css/admindashboard.css">

</head>

<body>
    <div class="header">
        <img src="/images/conge_img.png" alt="Icône de demande de congé" width="50" height="50">
        <h2 class="welcome-user">Bienvenu, <%= user.fullname %> la liste de congé :</h2>
    </div>
    <table class="demandes-table">
        <thead>
            <tr>
                <th scope="col">Date Début</th>
                <th scope="col">Date Fin</th>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
                <th scope="col">Statut</th>
            </tr>
        </thead>
        <tbody>
            <% if (demandes.length === 0) { %>
                <tr class="no-demande">
                    <td colspan="6">Aucune demande trouvée.</td>
                </tr>
            <% } else { %>
                <% demandes.forEach(demande => { %>
                    <tr>
                        <td><%= new Date(demande.startDate).toLocaleDateString() %></td>
                        <td><%= new Date(demande.endDate).toLocaleDateString() %></td>
                        <td><%= demande.type %></td>
                        <td><%= demande.desc %></td>
                        <td><%= demande.status %></td>
                    </tr>
                <% }); %>
            <% } %>
        </tbody>
    </table>
</body>

</html>
